@model MagicMushroom.Models.Character

@{
    ViewData["Title"] = "Character creator";
}

<h2>Who are you?</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
         
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>           
            <br />
            
           
            
            <div class="form-group">
                <label asp-for="Gender">Choose your gender:</label>
                <br /><br /><br />
                <label>Female</label>
                   <input type="radio" id="option1"
                    name="gender" value="female" />
                    
                        <!--<img src="~/css/female.png" 
                        width="150" height="150"
                        style="vertical-align:bottom"/>
                        <br /><br />
                
                <label>Male</label>
                <input type="radio" id="option2"
                       name="gender" value="male" />

                <img src="~/css/man.png"
                     width="150" height="ˇ150"
                     style="vertical-align:bottom" />
                <br /><br />
                <label>Gmail</label>
                <input type="radio" id="option3"
                       name="gender" value="gmail" />

                <img src="~/css/gmail.png"
                     width="150" height="150"
                     style="vertical-align:bottom" />
                     <br />-->
                    
            </div>

            <div>
                  <div class="form-group">
                      <input type="submit" value="Venture forth" class="btn"
                          style="align-items:safe center"
                      />
            </div>
            
        </form>
    </div>
</div> 
