@model MagicMushroom.Models.Character

@{
    ViewData["Title"] = "Index";
}

<h2>Test</h2>
<style>
    footer {
        border-style:solid;
        border-color:black;
        border-width:5px;
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        top:80%;
        width: 100%;
    }
    .bottomleft{
        border-style: groove;
        border-color: black;
        border-width: 5px;
        position:fixed;
        width:25%;
        height:90%;
    }

</style>
<body>

    <footer>
        <div class="bottomleft"></div>
         
    </footer>

</body>
