@model MagicMushroom.Models.Character

@{
    ViewData["Title"] = "Index";
}

<h2>Test</h2>
<style>
    footer {
        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        top:80%;
        width: 100%;
    }

</style>
<body>

    <footer>
        <p>Womp womp</p>
         
    </footer>

</body>
