@{
    ViewData["Title"] = "Index";
}

<h1>Magic Mushroom</h1>


<style>
    .button {
        color: black;
        text-align: center;
        font-family: Arial;
        font-size: 30px;
        background-color: white;
        padding: 16px;
        position: absolute;
        top: 700px;
        left:700px;
    }
</style>
<body>
    <button class="button">Start</button>
</body>
