@{
    ViewData["Title"] = "Index";
}

<h1>Magic Mushroom</h1>


<script>
    document.getElementById("button1").addEventListener("click", redirect);
    function redirect() { window.location = "https://localhost:7135/Character/Create/"; }

</script>
<style>
    #button1 {
        color: black;
        text-align: center;
        font-family: Arial;
        font-size: 30px;
        background-color: white;
        padding: 16px;
        position: absolute;
        top: 700px;
        left:700px;
    }
</style>

<body>
    <button id="button1" onclick="redirect()">Start</button>
</body>
